@charset "UTF-8";


body {
    background: #3990f3;
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.473);
    
}

footer, a {
    color: white;
    text-decoration: none;
    text-align: center;
    font-style: italic;
}

a:hover {
    text-decoration: underline;
}